* {
	margin: 0;
	padding: 0;

}

body {
	background-color: blue;
}

.container {
	width: 60%;
	background-color: white;
	font-size: 0;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px solid white;

	
}

li {
	width: 30%;
	display: inline-block;

	font-size: 14px;
	background-color: green;
	border: 2px solid white;
		box-sizing: border-box;
		padding: 14px;

}


li:hover {
	/*background-color: #fff;*/
	opacity: 0.5;
}

.small {
	width: 25%;
}

.big {
	width: 50%;
}

.verybig {
	width: 100%;
}

.container li a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;		 			 
	margin: 14px auto;
}

/*ГитХаб - пароль - qwerty123 Seolena*/

/*Ниже - про гит Хаб*/
/*репозиторий - местро на каждый проект, где будет храниться мой код, условно это папки*/
/*переключение между командами - checkout*/
/*удалённый репозиторий и локальный бывает*/
/*Push - отправка на ветку (отправляется на ту ветку, где работала)*/
/*контрол шифт П - вызов пэкедже контроля и установка плагина Терминал*/
/*как пройти в терминал - пуск, потом набрать cmd, (открыть от админа), потом набрать cd ../  (change directory) - внутри панели (это если не установлен терминал)*/

/*контрол + шифт + альт Т - так открывается терминал - сразу в нужной папке*/
/*Названия папок лучше латинскими буквами делать*/

/*ссылка на репозиторий копируется обязательно в корень*/

/*для того чтобы прописать вручную - находим надиске С, куда прописался Гит, захожу в эту папку и копирую путь к папочке гита*/
/*Скопировали путь кпапке и нажимаем Система - дополнительные параметры*/

/*git status - команда, а потом гит Эдд*/ 
/*git add css слэш звздочка - так зальютсявсе файлы, которые в папке css*/
/*клавишами вверх вниз возращаются уже написанные команды*/